<div class=" header bg-warning pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-white d-inline-block mb-0">Service Zone</h6>
                </div>
                <div class="col text-lg-right">
                    <a class=" btn btn-neutral" href="javascript:void(0)" (click)="add()">
                       
                        Add Service Zone
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class=" row">
        <div class=" col-12">
            <div class=" card">
                <div class=" card-header bcustomer-0">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <div class=" form-group mb-lg-0" [ngClass]="{ focused: focus === true }">
                                <div class=" input-group input-group-merge">
                                    <div class=" input-group-prepend">
                                        <span class=" input-group-text">
                                            <i class=" fas fa-search"> </i>
                                        </span>
                                    </div>
                                    <!-- (keypress)="onEnterPress($event)" -->

                                    <input type="text" class="form-control" placeholder="search"
                                        [(ngModel)]="searchNamefilter" autocomplete="on" (keyup.enter)="onEnterPress($event.target.value)" />
                                </div>
                            </div>
                        </div>
                        
                        <div class="col">
                            <button class=" btn btn-warning" (click)="searchCity()"
                                type="button">Apply</button>
                            <button class="btn btn-primary" (click)="resetFilter()"
                            type="button">Reset</button>
                        </div>
                    </div>
                </div>
                <div class="loader-container" *ngIf="isLoadedTable">
                    <app-loader></app-loader>
                </div>
                <div *ngIf="!isLoadedTable">
                    <div class=" table-responsive">
                        <table class=" table table-sm align-items-center table-flush">
                            <thead class=" thead-light">
                                <tr>
                                    <th class="sort" (click)="sort('city_name')" data-sort="city_name" >Service Zone Code</th>
                                    <th>Service Zone Name</th>
                                    <th>State</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let city of CitysLists">
                                    <td>{{city.city_name}}</td>
                                    <td>{{city.city_code}}</td>
                                    <td>{{city.state.state_name}}</td>
                                    <td class=" text-left">
                                        <div class="dropdown dropleft no-caret" dropdown>
                                            <a aria-controls="dropdown-basic"
                                                class="table-btn text-light dropdown-toggle"
                                                dropdownToggle href="javascript:void(0)" role="button">
                                                <i class=" fas fa-ellipsis-v"> </i>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                                                *dropdownMenu>
                                                <a href="javascript:void(0)" (click)="delete(city.id)"
                                                    class="dropdown-item">
                                                    Delete
                                                </a>
                                                <a href="javascript:void(0)" class="dropdown-item"
                                                    (click)="edit(city)">
                                                    Edit
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="empty" *ngIf="CitysLists.length == 0">
                        <div class="errortext">No-record Found</div>
                    </div>
                </div>

                <div class=" card-footer py-4">
                    <div class="d-flex justify-content-center p-2 align-center pageinationwidth">
                        <ngb-pagination [collectionSize]="collectionSize" [(page)]="service.page"
                            (pageChange)="refreshCity()" [maxSize]="service.maxSize"
                            class="pagination-rounded pagination-here">
                            <ng-template ngbPaginationPrevious>
                                <i class="fa fa-angle-left"></i>
                                <span class="sr-only">Previous</span>
                            </ng-template>
                            <ng-template ngbPaginationNext>
                                <i class="fa fa-angle-right"></i>
                                <span class="sr-only">Next</span>
                            </ng-template>
                            <ng-template ngbPaginationEllipsis>...</ng-template>
                            <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
