.passwordFeild{
    position: relative;
    button{
        position: absolute;
        right: 8px;
        top: 0px;
        line-height: 40px;
        background: transparent;
        border: unset;
        outline: unset; 
        &:focus,
        &:hover,
        &:active{
            background: transparent;
            border: unset;
            outline: unset; 
        }
    }
}