<div class=" header bg-warning pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2 text-white d-inline-block mb-0">Live View [Task-1234567890]</h6>
  
          </div>
  
          <div class=" col-lg-6 col-5 text-right">
  
            <a class=" btn btn-sm btn-neutral"  (click)="back()">
              Back
            </a>
          </div>
        </div>
  
        <div class=" row">
          <div class=" col-xl-3 col-md-6">
            <div class=" card card-stats">
              <div class=" card-body">
                <div class=" row">
                  <div class=" col">
                    <h5 class=" card-title text-uppercase text-muted mb-0">
                     Task 
                    </h5>
                    <span class=" h2 font-weight-bold mb-0">tsk04657836</span>
                  </div>
  
                 
                </div>
  
              </div>
            </div>
          </div>
  
          <div class=" col-xl-3 col-md-6">
            <div class=" card card-stats">
              <div class=" card-body">
                <div class=" row">
                  <div class=" col">
                    <h5 class=" card-title text-uppercase text-muted mb-0">
                   Tour ID
                    </h5>
  
                    <span class=" h2 font-weight-bold mb-0"> TUR-342342</span>
                  </div>
  
             
                </div>
  
        
              </div>
            </div>
          </div>
          <div class=" col-xl-3 col-md-6">
            <div class=" card card-stats">
              <div class=" card-body">
                <div class=" row">
                  <div class=" col">
                    <h5 class=" card-title text-uppercase text-muted mb-0">
                      Distance
                    </h5>
  
                    <span class=" h2 font-weight-bold mb-0"> 5 KM </span>
                  </div>
  
               
                </div>
  
            
              </div>
            </div>
          </div>
          <div class=" col-xl-3 col-md-6">
            <div class=" card card-stats">
              <div class=" card-body">
                <div class=" row">
                  <div class=" col">
                    <h5 class=" card-title text-uppercase text-muted mb-0">
                      Time
                    </h5>
  
                    <span class=" h2 font-weight-bold mb-0"> 03 HR </span>
                  </div>
  
               
                </div>
  
            
              </div>
            </div>
          </div>
  
        
        </div>
      </div>
    </div>
  </div>
  <div class=" container-fluid mt--6">
  
        <div class=" card widget-calendar">
      
  
          <div class=" card-body">
            <div class=" row">
    
              <div class=" col-lg-4">
                <div
                class=" timeline timeline-one-side"
                data-timeline-axis-style="dashed"
                data-timeline-content="axis"
              >
                <div class=" timeline-block">
                  <span class=" timeline-step badge-success">
                   1
                  </span>
    
                  <div class=" timeline-content">
                    <div class=" d-flex justify-content-between pt-1">
                      <div>
                        <span class=" text-muted text-sm font-weight-bold">
                          Kanak Estate, Fatehabad Rd,
                        </span>
                      </div>
    
                   
                    </div>
    
                    <h6 class=" text-sm mt-1 mb-0">
                     Scheduled Time <i class=" fas fa-clock mr-1"> </i> 10:30
  
                    </h6>
                    <h6 class=" text-sm mt-1 mb-0">
                      Actual Time <i class=" fas fa-clock mr-1"> </i> 10:30
   
                     </h6>
                  </div>
                </div>
    
                <div class=" timeline-block">
                  <span class=" timeline-step badge-warning">
                   2
                  </span>
    
                  <div class=" timeline-content">
                    <div class=" d-flex justify-content-between pt-1">
                      <div>
                        <span class=" text-muted text-sm font-weight-bold">
                          Kanak Estate, Fatehabad Rd,
                        </span>
                      </div>
    
                     
                    </div>
    
                    <h6 class=" text-sm mt-1 mb-0">
                      Scheduled Time <i class=" fas fa-clock mr-1"> </i> 11:30
                    </h6>
  
                    <h6 class=" text-sm mt-1 mb-0">
                     Actual Time <i class=" fas fa-clock mr-1"> </i> 11:30
                    </h6>
                  </div>
                </div>
    
                <div class=" timeline-block">
                  <span class=" timeline-step badge-info">
                    3
                  </span>
    
                  <div class=" timeline-content">
                    <div class=" d-flex justify-content-between pt-1">
                      <div>
                        <span class=" text-muted text-sm font-weight-bold">
                          Kanak Estate, Fatehabad Rd,
                        </span>
                      </div>
    
                    
                    </div>
    
                    <h6 class=" text-sm mt-1 mb-0">
                      Scheduled Time <i class=" fas fa-clock mr-1"> </i> 11:30
                    </h6>
                    <h6 class=" text-sm mt-1 mb-0">
                      Actual Time <i class=" fas fa-clock mr-1"> </i> 11:30
                    </h6>
                  </div>
                </div>
                <div class=" timeline-block">
                  <span class=" timeline-step badge-info">
                  4
                  </span>
    
                  <div class=" timeline-content">
                    <div class=" d-flex justify-content-between pt-1">
                      <div>
                        <span class=" text-muted text-sm font-weight-bold">
                          Kanak Estate, Fatehabad Rd,
                        </span>
                      </div>
    
                    
                    </div>
    
                    <h6 class=" text-sm mt-1 mb-0">
                      Scheduled Time <i class=" fas fa-clock mr-1"> </i> 12:30
                    </h6>
                    <h6 class=" text-sm mt-1 mb-0">
                      Actual Time <i class=" fas fa-clock mr-1"> </i> 12:30
                    </h6>
                  </div>
                  
            
                </div>
                <div class=" timeline-block">
                  <span class=" timeline-step badge-info">
                   5
                  </span>
    
                  <div class=" timeline-content">
                    <div class=" d-flex justify-content-between pt-1">
                      <div>
                        <span class=" text-muted text-sm font-weight-bold">
                          Kanak Estate, Fatehabad Rd,
                        </span>
                      </div>
    
                    
                    </div>
    
                    <h6 class=" text-sm mt-1 mb-0">
                      Scheduled Time <i class=" fas fa-clock mr-1"> </i> 12:30
                    </h6>
                    <h6 class=" text-sm mt-1 mb-0">
                      Actual Time <i class=" fas fa-clock mr-1"> </i> 12:30
                    </h6>
                  </div>
                  
            
                </div>
              </div>
              </div>
              <div class=" col-lg-8" >
                <div
                class=" map-canvas"
                data-lat="40.748817"
                data-lng="-73.985428"
                id="map-custom"
                style="height: 600px;"
              ></div>
              </div>
            </div>
           
          </div>
        </div>
  
       
     
  </div>
    